/* Sign In Content */
main {
  flex: 1;
}

.bg-dark {
  background-color: #12002b;
  height: 700px;
  padding-top: 3rem;
}

.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
}

/* Icon */
.sign-in-icon {
  font-size: 5rem;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Input */
.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  font-size: 1.2rem;
  padding: 5px;
}

.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

/* Button */
.sign-in-button {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 8px;
  width: 100%;
  background-color: #00bc77;
  border-color: #00bc77;
  color: #fff;
}
@media (max-width: 420px) {
  .bg-dark {
    height: 600px;
    padding-top: 4rem;
  }
  .sign-in-content {
    padding: 1rem;
  }
}