/* Hero */
.hero {
  background-image: url('../../assets/bank-tree.jpeg');
  background-position: 0 -50px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}

.hero-content {
  background: white;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  text-align: left;
  top: 2rem;
  width: 200px;
}

.hero-content .subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.hero-content .text {
  font-size: 0.9rem;
  margin-bottom: 0;
}

/* Features */
.features {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/** Responsive **/
@media (min-width: 920px) {
  /* Hero */
  .hero {
    background-position: 0% 33%;
    height: 400px;
  }

  .hero-content {
    margin: 2rem;
    position: absolute;
    right: 50px;
    top: 50px;
    width: 300px;
  }

  .hero-content .subtitle {
    font-size: 1.5rem;
  }

  .hero-content .text {
    font-size: 1.2rem;
  }

  /* Features */
  .features {
    flex-direction: row;
  }
}
